/*****************************************************************************
Title: The Fauxtographer CSS
Use:
School/Term: Southern Illinois University, Spring 2019
Developed: /19
Modified:1/19
Tested: /19
******************************************************************************/
body {
    font-family: ariel, sans-serif;
    font-size: 100%;
    margin: auto;
    background-color: white;
    max-width: 1000px;
     
}

#nav_menu ul {
    display: flex; 
    list-style: none;
    margin: 0;
    padding-top: 4.6em;
}

#nav_menu ul li a {
    padding: 1em;
    text-decoration: none;
    color: darkgray;
    font-size: 105%;
}


.logo {
    display: flex;
    flex-direction: row;
    width: 60%;
    padding: 1em;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
}

main {
display: inline-flex;
  
}

.leftcontainer {
    padding: 1em;
    width: 50%;   
}

.rightcontainer {
    padding-top: 5em;
    padding-right: 3em;
    padding-left: 1em;
    width: 50%;
}
footer {
    padding-top: 3em;

    text-align: center;
}

footer p {
    font-size: 75%;
}

#home_left {
   
    height: 100%;
    width: 100%;
    max-width: 640px;
    max-height: 426px;
    min-width: 200px;
}

.images {
    height: 90%;
    width: 90%;
}

.galleryleft {
    padding: 1em;
    width: 50%;   
}

.rightcontainer {
    padding-left: 1em;
    width: 50%;
}


fieldset {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: .5em;
   
}
label, input, select {
    font-size: 90%
}
label {
    display: block;
    float: left;
    width: 6em;
    padding: .5rem;
    font-weight: bold;
    text-align: right;
    margin-bottom: .5em;
    margin-left: .5em;
}

input, select, textarea{
    width: 15em;
    margin-left: 1em;
    margin-bottom: 1em;
}
input:required, input[required] {
    border: 1px solid gray;
}
input:valid {
    border: 1px solid black;
}
input:invalid {
    box-shadow: none;
}
input:focus {
    border: 2px solid black;
}
br {
    clear: both;
}
#submit #reset {
    box-shadow: 2px 2px 0;
    
}
textarea {
    height: 5em;
    width: 25em;
    font-family: sans-serif;
}

@media only screen and (max-width: 960px){
     
    }
  

@media only screen and (max-width: 700px){
    
 main {
     display: block; }
    
    .rightcontainer {
        padding-top: .5em;
        padding-left: 4em;
    }
    .leftcontainer{
        padding-left: 4em;
    }
}
     
@media only screen and (max-width: 470px){
   
     main {
     display: block; }
    
    .rightcontainer {
        padding-top: .5em;
        padding-left: 3em;
    }
    .leftcontainer{
        padding-left: 3em;
    }
}
    
  



