
/*****************************************************************************
Title: Forrer's Bicycles Css 
Use: Lab Exercise: Responsive Web Desing
School/Term: Southern Illinois University, Spring 2019
Developed: 9/13/19
Modified:9/28/19
Tested: 9/29/19
******************************************************************************/

body {
    background-color: lightblue;
    font-family: Ariel, Helvetica, sans-serif;
    font-size: 100%;
    margin: auto;  /*set to "auto" centers page. need to enclose main body after*/
    width: 90%; /* changed from 725px*/
    max-width: 725px; /*set max width to center page prevent content from stretching too far from original desing*/
    align-content: center;
 }   
/* Page Title Heading */
h1.title {
    text-align: center;
    padding: 1px;
    text-shadow: 1px 2px grey; 
    font-size: 3em;
    
}
address {
    text-align: center;
    font-size: 90%;
}


/* Main Logo Image */
img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: inherit;
    border: .1em solid blue;
    border-radius: 1em;
    padding: .1em;
    height: 100%;
    max-height: 130px;
    width:34.4827%;
    max-width: 249px;
}

header {
    border-bottom: 3px solid black;
    align-content: center;
    padding: .1em;
    width: 100%; /* Set width to accomodate fluid design changes*/
}

main {
    clear:left;
    align-content: center;
    width:auto;
    
}

footer {
    clear: both;
    border-top: 3px solid black;
    text-align: center;
    font-size: 70%;
     width: 100%; /* Set width to accomodate fluid design changes*/
}
/* Heading Styles */
h2 {
    text-align: center;
    padding: 1.3793103%; /*coverted from 10px*/
    font-size: 1.75em;
}

h3 {
    padding: 1.3793103%; /*coverted from 10px*/
    font-size: 1.5em;
}

h4 {
    padding: 1.3793103%; /*coverted from 10px*/
    text-align: left;
    font-size: 1.15em;
}

/*Link Styling*/
a {font-weight: bold;
}

a:visited {
    color: darkblue;
}

a:hover, a:focus {
    color: blue;
}

/* Unorded list of available bikes on the main page */
#bike_list {
    padding-left: 10px;
}

/*Basic paragraph styling*/
p {
    padding-left:5px; 
    padding-right: 5px;
}

/* Bike Rental Title Header*/
.rentals {
   text-align: center;
}

/* Left side of rental page*/
.bikerentals {
    
    width: 48.87586%;
    height: 100%; /*Converted from 550px for main content*/
   
    float: left;
}

/* right side of rental page */
.bikerentalinfo{
    width: 48.87586%;
    height: 60%;
    float: right;
    padding: .2%;
    background-color: burlywood;
    border: 2px solid black;
    margin: .2%;
    
}
 /* Bike Rental Disclaimer */
.disclaimer {
    font-size: 75%;
}

#mtb {
    clear:both;
    padding: 1.5em;
    height 22.727%;
    max-height: 125px;
    width: 60%;
}

/* Sets sub-heading style for child pages */
.subheader {
    text-align: center;
    padding: 1.3793103%;
}

/* Header Navigation Style - Set all widths to % for responsive design*/
#nav_menu ul {
    list-style-type: none;
    padding: 1em; 
    text-align: center;
    border-top: 3px solid black;
    padding-bottom: 2em;
   
}

#nav_menu ul li {
    float: left;
    width: 20% /* 5 menu items  1/5 = 20%*/
}

#nav_menu ul li a.current {
    text-decoration: underline;
}
#nav_menu ul li a {
    text-align: center;
    display: block;
    padding: .5em 0;
    text-decoration: none;
    background-color: darkblue;
    color: white;
    font-weight: bold;
    border-right:  solid lightblue;
}

/* hide the mobile menu initially*/
#mobile_menu 
{ display: none;}

/*Media Queries */

/* tablet portrait to standard 960 */
@media only screen and (max-width: 959px){
    #nav_menu ul li a { font-size: .875em; }
    h1 { font-size: 1.75em; }
    h2 {font-size: 1.5em; }
    h3 {font-size: 1em; }
    h4 {font-size: .90em; }
    p{font-size: .9em}
}

/* mobile landscape to tablet portrait */
@media only screen and (max-width: 767px) {  

    #nav_menu {display: none; }/*hides the standard menu*/
    #mobile_menu {display: block; }/* display the mobile menu*/
   
    h1 { font-size: 1.5em; }
    h2 {font-size: 1.2em; }
    h3 {font-size: 1em; }
    h4 {font-size: .95em; }
    p {font-size: .85em}
}
   
/*Mobile portrait to mobile landscape*/
@media only screen and (max-width 479px) {
    #nav_menu {display: none} /*hides the standard menu*/
    #mobile_menu {display: block; }/* display the mobile menu*/
        
h1 { font-size: 1.5em; }
    h2 {font-size: 1.2em; }
    h3 {font-size: 1em; }
    h4 {font-size: .95em; }
    p{font-size: .8em;}
}



